body {
    background-color: #010101;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #0f0f0f;
    text-align: center;
    margin-top: 300px;
    margin-left: 30px;
    margin-right: 30px;
}